
body{
    background-color: rgb(243, 238, 252);
}

.calculaterContainer{
    margin:auto;
    height:600px;
    width: 500px;
    border: 2px solid rgb(96 139 168);
    border-style:ridge;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
}
.Screen{
    height:200px;
    width: 500px;
    border: 2px solid rgb(96 139 168);
    border-style:ridge;
    /* display: flex; */
}
.Buttons{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 50px;
    gap: 2px;


}
.Buttons > *{
    height:30px;
    width: 30px;
    border: 2px solid rgb(96 139 168);
    border-style:ridge;
    background-color: bisque;
}